@font-face {
  font-family: "iconfont"; /* Project id 2628530 */
  src: url('iconfont.woff2?t=1631077878974') format('woff2'),
       url('iconfont.woff?t=1631077878974') format('woff'),
       url('iconfont.ttf?t=1631077878974') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mifan:before {
  content: "\e60c";
}

.icon-chajiancanshushuju:before {
  content: "\e69c";
}

.icon-wifi:before {
  content: "\e66b";
}

.icon-alibaba:before {
  content: "\eaa0";
}

